{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <h1>Automobilių dalys
                <small>duomenų bazė</small>
            </h1>

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Detales <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/index.php/admin"><i class="icon-home"></i>Detalių sąrašas</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/index.php/admin/parts/new"><i class="icon-star"></i> Sukurti naują detalę</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modeliai <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/index.php/admin/types"><i class="icon-home"></i>Modelių sąrašas</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/index.php/admin/types/new"><i class="icon-star"></i> Sukurti naują modelį</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="navbar-form navbar-right" method="get" action="/">
                        <a href="/index.php/admin/parts/export" class="btn btn-primary"><i class="icon-star"></i>Eksportuoti</a>
                    </form>
                </div>
            </nav>

            <div class="row-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/boostrap.min.js') }}"></script>
{% endblock %}