{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <h1>Automobilių dalys
                <small>duomenų bazė</small>
            </h1>

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="/index.php"><i class="icon-home"></i> Dalys</a></li>
                        <li><a href="/index.php/parts/new"><i class="icon-star"></i> Sukurti naują</a></li>
                    </ul>
                </div>
            </nav>

            <div class="row-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/boostrap.min.js') }}"></script>
{% endblock %}