{% block stylesheets %}
    <link rel="stylesheet" href="{{ app.asset_path }}/css/bootstrap.min.css">
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Automobilių dalys
                <small>duomenų bazė</small>
            </h1>

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="/index.php"><i class="icon-home"></i> Dalys</a></li>
                        <li><a href="/index.php/parts/new"><i class="icon-star"></i> Sukurti naują</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" method="get" action="/">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Paieška..." value="{{ search|default('') }}">
                        </div>
                        <button type="submit" class="btn btn-default">Ieškoti</button>
                    </form>
                </div>
            </nav>

            <div class="row-fluid">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ app.asset_path }}/js/jquery.min.js"></script>
    <script src="{{ app.asset_path }}/js/boostrap.min.js"></script>
{% endblock %}